.horizontal-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 230px;
}

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.horizontal-nav li {
    margin-right: 20px;
}

.horizontal-nav li:last-child {
    margin-right: 0;
}

.horizontal-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.horizontal-nav a:hover {
    color: #555;
}

#educationContainer{
    margin-top: 50px;
    position: absolute;
    left: 180px;
}

#educationContainerTop {
    display: flex;
    margin-bottom: 30px;
}

.overflow-auto {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}
