#tradeQuestEndlessImg{
    position: flex;
}

.endlessImg{
    margin-left: 120px;
    width: 55%;
}

.endlessImg2{
    margin-left: 10px;
    width: 25.25%;
}

.endlessImg3{
    margin-left: 120px;
    margin-top: 40px;
    width: 81%;
}

#tradeQuestEndlessLine{
    margin-left: 120px;
    margin-top: 40px;
    background-color: #23B371;
    border-radius: 25px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex: 1;
    text-indent: 0px;
    font-size: 20px;
    width: 1250px;
    margin-bottom: 100px;
}