.topic-container {
  color: white;
}
.topic-container h1 {
  margin-bottom: 30px;
}
.topic-post {
  border-radius: 12px;
  background: rgba(225, 225, 225, 0.2);
  padding: 50px;
  margin-bottom: 30px;
}
.topic-container .post-op {
  display: flex;
}
.post-op img {
  width: 100px;
  height: auto;
  border-radius: 12px;
  margin-right: 10px;
}
.post-op .name {
  color: #ffa800;
}
.post-op .time {
  color: rgba(255, 255, 255, 0.6);
}
.topic-container h1 {
  color: white;
  text-indent: 20px;
  font-size: 40px;
}
.post-content h3 {
  font-weight: bold;
  margin-bottom: 40px;
}

.post-content .post-text {
  margin-bottom: 40px;
}
.post-content .topic-stats {
  color: #ffa800;
  margin-bottom: 30px;
}
.post-content .form-label {
  width: 100%;
}
.post-content .form-control {
  border-radius: 52px;
  background: rgba(255, 255, 255, 0.3);
}
.topic-comment-dropdown {
  margin-bottom: 30px;
}
.topic-comment-dropdown .btn {
  border: none;
  background: #363d54;
}
