.horizontal-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 160px;
}

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.horizontal-nav li {
    margin-right: 20px;
}

.horizontal-nav li:last-child {
    margin-right: 0;
}

.horizontal-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.horizontal-nav a:hover {
    color: #555;
}

#community h1{
    color: white;
    text-indent: 175px;
    font-size: 40px;
}

#communitySearch{
    position: absolute;
    align-items: right;
    top: 180px;
    right: 130px;
}

#communitySearch .search-group-img{
    width: 35%;
}

#communitySearch .btn{
    color: white;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: 15px;
    position: absolute;
}

#communityComponent {
    margin-top: 50px;
    position: absolute;
    left: 180px;
}

#communityComponentTop {
    display: flex;
    margin-bottom: 30px;
}

#communityComponentTop p1{
    margin-left: 50px;
}