.level-container {
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.296) 0%,
    rgba(255, 211, 127, 0.7) 100%
  );
  color: white;
}
/* background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0%, #C4C4C4 100%); when locked*/
/* background: linear-gradient(90deg, rgba(255, 255, 255, 0.20) 0%, #FFBD3D 100%); when higher level */
.card-body {
  padding: 40px 50px 40px 50px;
}
.level-container .prize-pool {
  padding: 20px 60px 20px 60px;
  background: rgba(46, 43, 43, 0.303);
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
}
.level-container .prize-pool p {
  opacity: 1;
  color: #ffd37f;
}
.level-container .prize-pool .prize {
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  opacity: 1;
}

.level-container .level-top {
  position: relative;
}
.level-container .level-top .col {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.level-container .level-top .coin-bg {
  position: absolute;
  width: 160px;
  height: auto;
  right: 170px;
  bottom: -40px;
}
.level-container .level-top .button-side p {
  color: red;
}

.level-container .level-top .level-info {
  z-index: 10;
}

.level-container .level-top .level-info h5 {
  margin-bottom: 15px;
}
